<div class ='home'>
  <div class='content'>

    <div class="container signup span8">
      <div class="greeting">
        <h1 id="logo">Photoline</h1>
        <p>
          Create custom feeds from your favorite photographers and keyword searches from 500px and flickr.<br>
          Photoline lets you view all your photos in one place, is totally free and has no ads!
        </p>
        <%= render partial: "home", formats: [:js] %>

      <%if current_user %>
        <ul class="navLinks">
          <li><%= current_user.username %></li>
          <li><%= link_to "My dashboard", dashboard_path(subdomain: false) %></li>
          <li><%= link_to "Sign out", signout_path %></li>
        </ul>
      <% else %>
        <p>
          <%= link_to image_tag("signInWithTwitter.png"),"/auth/twitter" , id: 'signin' %>
        </p>
      <% end %>
     </div>
   </div>
  </div>
</div>
