 <div class='content user-show'>

  <%= link_to "Create A New Feed", new_feed_path, id: 'newfeedbutton', class: 'btn btn-primary' %>

  <ul class='nav nav-tabs'>
    <li class='active'><a href="#myAccount" data-toggle="tab">My Account</a></li>
    <li><a href="#manageFeeds" data-toggle="tab">Manage Feeds</a></li>
  </ul>

  <div class='tab-content'>
    <div class='tab-pane active' id='myAccount'>
      <h3> Account Information For:
          <span id= 'username'> <%= @user.username %> </span>
      </h3>

      <!-- needs a real link! -->
      <p> Your email address: <%= @user.email %></p>
      <p><%= link_to 'Update Email', root_path %></p>
    </div>

    <div class="tab-pane" id='manageFeeds'>
      <h3>Manage My Feeds</h3>
      <% if @feeds.present? %>

        <% @feeds.each do |feed| %>
          <h4><%= feed.name %></h4>
          <p> Visit Your Feed: <%= link_to root_url(subdomain: feed.subdomain) %></p>
          <h5>Searches in This Feed</h5>
          <h1>PUT THESE IN A TABLE</h1>
          <% if feed.searches.any? %>
            <% feed.searches.each do |search| %>
              <%= search.search_type %>
              <%= search.value %>
              <%= search.source %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
          You Don't Have Any Feeds Yet! Create One.
      <% end %>
    </div>
  </div>

</div>


