<div class='content'>
  
  <div class= 'form' id='front-page-form'>
    <%= form_tag feeds_path, method: :get do %>
      <%= label_tag 'Search by flickr user name' %>
      <%= text_field_tag :username %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>

  <%= image_tag('trees.JPG', id:'front-image') %>


</div>
