<!DOCTYPE html>
<html>
<head>
  <title>FeedEngine</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <h1>PhotoLine</h1>
  <%if current_user %>
    Signed in as <%= current_user.username %>!
    <%= link_to "Sign out", signout_path %>
  <% else %>
<<<<<<< HEAD
    <%= link_to "Sign in with Flickr", "http://www.flickr.com/services/oauth/request_token", id: 'sign-in' %>
=======
    <%= link_to "Sign in with twitter", "/auth/twitter" %>
>>>>>>> 98dc994e2139a02c1adc38f1132c01a9f747090f
  <% end %>
</div>

<div class='content'>
  <%= yield %>
</div>

</body>
</html>
