<!DOCTYPE html>
<html>
<head>
  <title>FeedEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%if current_user %>
    Signed in as <%= current_user.name %>!
  <% else %>
    <%= link_to "Sign in with Flickr", "http://www.flickr.com/services/oauth/request_token" %>
  <% end %>

<%= yield %>

</body>
</html>
